body {
  background-color: rgb(234, 234, 234) !important;
}
.link{
  color: white;
  margin-right: 40px;
}
.link:hover{
  color: green;
}
.link:visited{
  color: green;

}
.slider{
  margin-top: 200px;
}
.left-arrow{
  position: absolute;
  bottom: 100px;
  right: 300px;
}